data
example_data
22870.ipynb

test_photometry/data
test_photometry/example_data
test_photometry/images
test_photometry/outputs
test_photometry/.ipynb_checkpoints
test_photometry/gloess-master
test_photometry/__pycache__

final_scripts/.ipynb_checkpoints
final_scripts/__pycache__
final_scripts/images
final_scripts/outputs

*.fits
*.eps
*.glo_avs
*.glo_fits
*.tbl